input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=button] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body {
    background-color: rgb(243, 243, 243);
    font-family: 'Arial', sans-serif;
    text-align: center;

}

#categories, #subCategories {
    display: inline;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}

#categories td, #categories th, #subCategories td, #subCategories th {
    border: 1px solid #ddd;
    padding: 8px;
}

#categories tr:nth-child(even), #subCategories tr:nth-child(even) {
    background-color: #f2f2f2;
}

#categories tr:hover, #subCategories tr:hover {
    background-color: #ddd;
}

#categories th, #subCategories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
